
.landing-grid{
    background-color: #FFF;
    /* text-align: center; */
    top:0;
    left:0;
    width: 100%;
    height:100%;
    transition: width 2s;
}
.landing-grid h1{
    font-family: "Montserrat",sans-serif;
}
  
.presentation{
    width:65%;
    margin:20em auto 10em 15em;
    border-radius: 15px;
    color: #060b26;
}

.presentation h1{
    font-size:66px;
    font-weight: bold;
    color:black;
}

.presentation p{
    color:black;
    font-size:25px;
    margin-top:0;
    margin-bottom:0;
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.social {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 10;
  }
  .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    text-decoration: none;

  }
  .social a:hover {
    background-color: #ff4081;
    transition: all ease 0.5s;
  }
  .social i {
    font-size: 20px;
    color: #2b2b2b;
  }
  .social i:hover{
    color:#fff;
  }

  section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: 767px) { 
    .projects-section{
      scroll-snap-align: start;
      height: 300vh;
    }
    .about-section{
      scroll-snap-align: start;
      height: 200vh;
    }
    .presentation{
      margin:auto
    }
   }


   @media (max-width: 990px) { 
    .about-section{
      scroll-snap-align: center;
      height: 200vh;
    }
   }