
.title{
    margin: 1em auto 2em 2em;
    /* margin-top:5em;
    margin-left: 2em; */
}

.btn{
    color:#ff4081;
    border-color: #ff4081;
}

.btn:hover{
    background-color:#ff4081;
    border-color: #ff4081;
    color:#fff
}

.projects-body{
    min-height:270px;
}

.project-buttons{
    height: 90px;
}