



  .down-cv{
    background-color: #FFF;
    font-size: 20px;
    text-decoration: none;
    transition: 2s;
  }

  .down-cv strong:hover{
      color: #1a83ff;
      text-decoration: none;
  }


  
  @media (max-width: 993px) { 
    .about-text{
      margin-left: 10px;
    }
   }

   @media (max-width: 767px) { 
    .about-text{
      margin-left: auto;
    }
   }
