.about-container {
    width: 80%;
    height: 330px;
    background: #ffffff;
    /* border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2); */
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
  }
  .about-container img {
    height: 250px;
  }
  .about-text {
    width: 500px;
    padding-left: 2em;
  }

  .about-text button {
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;

    background-color: #262525;
  }